.head{
    text-align: center;
    color:rgb(234, 4, 119);
    margin: 20px;
    padding: 10px;
}

.card{
    height: 500px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rebeccapurple;
    background-color: rgb(241, 182, 235);
    margin-left: 600px;
}